<div class="container footer-container">
  <p>
    <!-- {{ site.name | escape }}  - -->
    <!-- <a href="mailto:{{ site.email }}" target="_blank">{{ site.email | escape }}</a> - -->
    <!-- <a href="{{ site.website }}" target="_blank">{{ site.website | escape }}</a> -->
    <a data-toggle="tooltip" data-placement="top" title="Hacker Culture" href="http://catb.org/~esr/faqs/hacker-howto.html" target="_blank">
      <img src="http://www.catb.org/~esr/hacker-emblem/hacker.png" alt="hacker emblem"/>
    </a>
  </p>
</div>