<div class="container links-container" id="links">
    <h3>Links</h3>
    <ul class="icons" style="text-align: center !important;">
        <li>
        <a target="_blank" href="https://github.com/{{ site.github_username| cgi_escape | escape }}" class="button button--sacnite button--round-l">
            <i class="fab fa-github" title="Github link"></i>
        </a>
        </li>
        <li>
        <a target="_blank" href="https://www.linkedin.com/in/{{ site.linkedin_username| cgi_escape | escape }}" class="button button--sacnite button--round-l">
            <i class="fab fa-linkedin" title="Linkedin link"></i>
        </a>
        </li>
        <li>
        <a target="_blank" href="https://twitter.com/{{ site.twitter_username| cgi_escape | escape }}" class="button button--sacnite button--round-l">
            <i class="fab fa-twitter" title="Twitter link"></i>
        </a>
        </li>
        <li>
            <a target="_blank" href="http://eshaan7.github.io/blog/post/" class="button button--sacnite button--round-l">
              <i class="fas fa-blog" title="My blog link"></i>
            </a>
        </li>
    </ul>
  </div>
  
      